---
const { title } = Astro.props;

const items = [
	{
		icon:"",
		name:"Producto 1"
	},
	{
		icon:"",
		name:"Producto 2"
	},
	{
		icon:"",
		name:"Producto 3"
	}
];
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class="header">
			<div class="container header_info">
				Contenido de la cabecera
			</div>
		</div>
		<div class="container banner">
			BANNER
		</div>
		<nav class="container main_menu">
			<a href="/">Inicio</a> <a href="/productos">Productos</a> <a href="/ofertas">Ofertas</a>
		</nav>
		<div class="container items">
			{
				items.map((item) =><div>
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><ellipse cx="12.07" cy="7" rx="3" ry="1.71"></ellipse><path d="M12.07 22c4.48 0 8-2.2 8-5V7c0-2.8-3.52-5-8-5s-8 2.2-8 5v10c0 2.8 3.51 5 8 5zm0-18c3.53 0 6 1.58 6 3a2 2 0 0 1-.29.87c-.68 1-2.53 2-5 2.12h-1.39C8.88 9.83 7 8.89 6.35 7.84a2.16 2.16 0 0 1-.28-.76V7c0-1.42 2.46-3 6-3z"></path></svg>
									Nombre Producto
			</div>	)
			}			
		</div>
		<div class="container categories">
			Ofertas
		</div>
		<div class="container">
			<slot />
		</div>
		<div class="container footer">
			ESTE ES EL FOOTER
		</div>
	</body>
</html>
<style is:global>
	.items{
		display: flex;
		height: 80px;
	}
	.items div {
		height: 100%;
		max-width: 120px;
		text-align: center;
		/* background-color: red; */
		border: 1px solid gray;
		border-radius: 4px;
		margin-right: 3px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.main_menu {
		height: 40px;
		background-color: #EE4D2D;
		display: flex;
	}
	.main_menu a{
		transition: background 300ms ease-in-out;
		height: 100%;
		display: flex;
		align-items: center;
		color: #fff;
		padding: 0 12px;
		text-decoration: none;
	}
	.main_menu a:hover{
		background-color: #e99c37;
		
	}
	
	.categories{
		height: 80px;
	}
	.banner{
		height: 240px;
	}
	.header{
		background: orange;
	}
	.header_info {
		
		height: 80px;
	}
	.container{
		max-width: 1280px;
		/* background-color: blue; */
		margin: 0 auto;
	}
	html, body {
		margin: 0;
		padding: 0;
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
